---
import PageLayout from '../PageLayout.astro';
import HomeHeader from '../../components/HomeHeader.astro';

const {content:{title, description}} = Astro.props;

const allTags = await Astro.fetchContent('../../pages/tags/*.md');
const tags = [...new Set([].concat.apply([], allTags.map(tag => tag.name)))]
---
<PageLayout {...Astro.props}>
    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3">
        <HomeHeader title={title} description={description} />
        <section class="max-w-3xl mx-auto text-center content">
          {tags.sort().map((tag) => (
              <div class="mb-4">
              <a href={`/tags/${tag}`}>{tag}</a>
            </div>
          ))}
        </section>
      </article>
    </main>
</PageLayout>