---
import PageLayout from './PageLayout.astro';
import HomeHeader from '../components/HomeHeader.astro';
import SearchInput from '../components/SearchInput.astro'

interface MarkdownFrontmatter {
  date: number;
}

const {content:{title, description}} = Astro.props;
let allPosts = Astro.fetchContent<MarkdownFrontmatter>('../pages/posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---
<PageLayout {...Astro.props}>
    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3" content>
        <HomeHeader title={title} description={description} />
        <SearchInput />
      </article>
    </main>
</PageLayout>